//-
	Required:
		section

include templates/include/nav.pug

mixin userStyle
	style.
		div.videos {
			display:flex;
			flex-wrap: wrap;
			align-content: start;
			justify-content: flex-start;
		}
		div.video {
			flex: 1 320px;
			padding: 4px 0px;
		}
		div.video > p {
			padding: 0px;
			margin: 0px auto;
			max-width: 98%;
		}
		div.video > p.img {
			text-align: center;
		}
		div.video > p.img > img {
			width: 100%;
		}

doctype html
html
	head
		title Trubach
		+style
		+userStyle
	body
		+nav
		.main
			+breadcrumbs
			h1= section.title + " (" + section.name + ")"
			if section.channels
				each c in section.channels
					.objects
						p.object
							a.object(href="/channels/"+c.__oid)
								span.id= "#" + c.__oid
								|
								|
								span.title= c.title
								|
								|
								span.name= "(" + c.name + ")"
			if admin
				.create
					h2 Добавить канал
					form.create(
						method="POST",
						action="/admin/addChannel?target=" + encodeURIComponent(window.location.href)
					)
						+input("url","URL")
						input(type="hidden",value=section.__oid,name="section")
						input(type="submit",value="Create")

			if section.videos
				+cursor
				.videos
					each v in section.videos
						.video
							p.channel= v.channel
							p.img: img(src=v.thumbs.medium)
							p.link
								a.video(href="https://www.youtube.com/watch?v="+v.id)
									span.title= v.title
				+cursor
